@charset "UTF-8";

html, body {
    height: 100%;
    color: #fff;
    font-family: sans-serif;
}

body {
    background: url(amazing-sky.jpg) center center;
    -webkit-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
    position: relative;
}

#container {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

h1 {
    font-size: 54px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p {
    font-size: 21px;
    margin-bottom: 40px;
    margin-left: 25px;
    margin-right: 25px;
}

a {
    font-size: 18px;
    color: #ffffff;
    border: 1px solid #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 10px 100px;
    text-decoration: none;

}